absl-py  
argh  
blinker==1.4
blobfile
brotlipy==0.7.0
cachetools==2.0.0
certifi==2021.5.30
cffi  
chardet 
click 
cloudpickle==1.3.0
configparser 
continuum==1.0.2
crc32c==2.2.post0
cryptography  
cycler==0.10.0
cytoolz==0.11.0
dask==1.1.4
dataclasses 
decorator==4.4.2
denoising-diffusion-pytorch==0.6.9
docker-pycreds==0.4.0
einops==0.3.2
future==0.18.2
gitdb  
GitPython 
google-auth-oauthlib==0.4.1
gql==0.1.0
graphql-core  
grpcio  
imageio 
importlib-metadata 
kiwisolver 
lmdb==1.2.1
Markdown 
matplotlib  
networkx==2.2
numpy==1.21
nvidia-ml-py3==7.352.0
oauthlib 
olefile==0.46
pathtools==0.1.2
Pillow  
promise  
protobuf==3.14.0
psutil
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser  
PyJWT 
pyOpenSSL 
pyparsing  
PySocks  
python-dateutil  
PyWavelets  
PyYAML==5.3.1
requests  
requests-oauthlib 
rsa==3.4.2
scikit-image==0.17.2
scipy==1.4.1
sentry-sdk 
shortuuid  
six 
smmap 
subprocess32  
tensorboard  
tensorboard-plugin-wit  
tensorboardX==2.4
tfrecord==1.14.1
tifffile==2020.9.3
toolz  
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
tornado 
tqdm 
typing-extensions  
urllib3  
vit-pytorch==0.22.0
wandb==0.15.11
watchdog 
Werkzeug  
zipp  
blobfile==0.10.2
